<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <div class="menu">
        <p class="qqq">Consolas Engine</p>
        <input class="input" type="text">
    </div>
    <div id="main">
        <div class="prg"><p class="name_prg">name</p><p class="path_prg">dddddddd</p><div class="ring"><button id="qqq" class="button_prg">Open</button><button id="www" class="button_prg">del</button></div></div>
    </div>
    <script>
        {{ projects | safe }}
    </script>
    <script src="static/jquery-3.6.4.min.js"></script>
    <script src="static/index.js"></script>
    <script>

    </script>
</body>
{{ json_add['live_app'] | safe }}
</html> 